<template>
<!--  {{ this.$props.barData }}-->
  <Bar
    id="my-chart-id"
    :options="chartOptions"
    :data="this.$props.barData"
  />
</template>

<script>
import { Bar } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

export default {
  name: 'BarChart',
  props: {barData: Array},
  components: { Bar },
  data() {
    return {
      chartData: this.props.barData,
      chartOptions: {
        responsive: true
      }
    }
  }
}
</script>

<style scoped>

.ranking-chart-container {
  width: 70%;
}

.view-chart-header {
  display: flex;
  flex-direction: row;
  align-items: center; 
}
svg {
 padding-left: 1em;
}

</style>

