<template xmlns:v="http://www.w3.org/1999/xhtml">
  <main>
    <!-- Display some data as an example -->

    <b-container class="bv-example-row">
      <b-row>
        <b-col class="pretty-list-2">
        <span class="animated-number">Number of Logins: {{ displayedNumLogins }}</span>
          </b-col>
        <b-col class="pretty-list-2">
          Alerts
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <h4>Recent Logins</h4>
          <transition-group
              name="list"
              tag="ul"
              class="pretty-list"
              v-if="sortedResults"
              appear
          >
            <li
                v-for="login in this.rawData.recent_logins"
                :key="login.actor_name + login.created_at"
                :class="{ highlighted: login.vip == 'True' }"
                @click="showUserModal(login)"
            >
              {{ login.actor_name }}
              <div v-if="login.vip == 'True'">
                <img src="../assets/vip.svg" alt="VIP" width="24" height="24"/>
              </div>
              <span class="login-date">{{ moment(login.created_at) }}</span>

            </li>
          </transition-group>
        </b-col>
        <b-col>
          <h4>Trending Views</h4>
          <transition-group
              name="list"
              tag="ul"
              class="pretty-list"
              appear
          >
            <li
                v-for="view in this.rawData.top_views"
                :key="view.viewname"
                @click="showViewModal(view)"
            >
              {{ view.viewname }} <span class="login-date">{{ view.number_of_views }}</span>

            </li>
          </transition-group>
        </b-col>
      </b-row>
      <b-row>
        VIP Activity

        <transition-group
              name="list"
              tag="ul"
              class="pretty-list"
              v-if="sortedResults"
              appear
          >
            <li
                v-for="login in this.rawData.vip_activity"
                :key="login.actor_name + login.created_at"
                :class="{ highlighted: login.vip == 'True' }"
                @click="showUserModal(login)"
            >
              {{ login.actor_name }}
              <div v-if="login.vip == 'True'">
                <img src="../assets/vip.svg" alt="VIP" width="24" height="24"/>
              </div>
              <span class="login-date">{{ moment(login.created_at) }}</span>

            </li>
          </transition-group>
      </b-row>

      <b-modal id="user-modal" title="User Details" @hidden="resetParams" size="xl">
        <div v-if="selectedLogin">
          <p><strong>Actor Name:</strong> {{ selectedLogin.actor_name }}</p>
          <p><strong>Login Date:</strong> {{ selectedLogin.created_at }}</p>

          <b-table :items="userActivity.userActivity" :fields="userActivityTableFields" responsive="sm">
          </b-table>

        </div>
        <div v-else>
          <p>No details available.</p>
        </div>
      </b-modal>

      <b-modal id="view-modal" size="xl" title="View Details" @hidden="resetParams">
        <div v-if="selectedView">
          <p><strong>View Name:</strong> {{ selectedView.viewname }}</p>
          <p><strong>Number Of Views:</strong> {{ selectedView.number_of_views }}</p>

          <b-table :items="viewActivity.viewActivity" :fields="viewActivityTableFields" responsive="sm" :row-class="highlightRowClass">
          </b-table>

        </div>
        <div v-else>
          <p>No details available.</p>
        </div>
      </b-modal>
      <!-- Display error if any -->
      <div v-if="error">
        {{ error }}
      </div>
    </b-container>
  </main>
</template>

<script>
import axios from 'axios';
import moment from 'moment';

export default {
  data() {
    return {
      selectedLogin: null,
      selectedView: null,
      rawData: null,
      displayedNumLogins: 0,
      userActivity: null,
      viewActivity: null,
      data: null,   // This will store the JSON result from the API
      error: null, // This will store any error messages
      apiInterval: null,
      userActivityTableFields: [
        {key: 'actor_name', label: 'Actor Name'},
        {key: 'event_name', label: 'Event Name'},
        {key: 'created_at', label: 'Created At'},
        {key: 'viewname', label: 'View Name'}
      ],
      viewActivityTableFields: [
        {key: 'personName', label: 'Name'},
        {key: 'geography', label: 'Geo'},
        {key: 'department', label: 'Department'},
        {key: 'created_at', label: 'viewed_at'},
        {key: 'vip', label:'VIP'}
      ]
    };
  },
  computed: {
    sortedResults() {
      if (!this.rawData || !this.rawData.recent_logins) return null;
      return Object.entries(this.rawData.recent_logins)
          .sort((a, b) => b[1] - a[1]) // Sort based on the integer values in descending order
          .map(entry => [entry[0], entry[1]]);
    },
    fixedBarchartData() {
      if (!this.rawData || !this.rawData.top_views) return null;
      return {
        labels: this.rawData.top_views.map(entry => entry["viewname"]),
        datasets: [{data: this.rawData.top_views.map(entry => entry["number_of_views"])}]
      }
    }
  },
  watch: {
    'rawData.num_logins'(newValue) {
    this.animateNumber(this.displayedNumLogins, newValue);
  },
  },
  mounted() {
    this.fetchData();  // Call once immediately
    this.apiInterval = setInterval(this.fetchData, 10000);  // Then every 5 seconds
  },
  beforeDestroy() {
    clearInterval(this.apiInterval);  // Clear the interval when component is destroyed
  },
  components: {},
  methods: {
    async fetchData() {
      try {
        const response = await axios.get('http://127.0.0.1:5000/recentlogins');
        this.rawData = response.data;
        this.error = null
      } catch (error) {
        this.error = "Failed to fetch data. " + (error.response ? error.response.data : error.message);
      }
    },
    async fetchUserActivity(username) {
      try {
        const response = await axios.get(`http://127.0.0.1:5000/getuser?username=${username}`);
        this.userActivity = response.data;
        this.error = null
      } catch (error) {
        this.error = "Failed to fetch data. " + (error.response ? error.response.data : error.message);
      }
    },
    async fetchViewActivity(viewname) {
      try {
        const response = await axios.get(`http://127.0.0.1:5000/getview?viewname=${viewname}`);
        this.viewActivity = response.data;
        this.error = null
      } catch (error) {
        this.error = "Failed to fetch data. " + (error.response ? error.response.data : error.message);
      }
    },
    highlightRowClass(item) {
      if (item.vip == true) {
        return 'high-views-row';
      }
      return '';
    },
  animateNumber(currentValue, newValue) {
    const step = currentValue < newValue ? 2 : -2;
    const animate = () => {
      if ((step > 0 && currentValue < newValue) || (step < 0 && currentValue > newValue)) {
        currentValue += step;
        this.displayedNumLogins = currentValue;
        requestAnimationFrame(animate);
      }
    };

    requestAnimationFrame(animate);
  },
    moment: function (date) {
      return moment.utc(date).local().fromNow();
    },
    showUserModal(login) {
      this.selectedLogin = login;
      this.fetchUserActivity(this.selectedLogin.actor_name)
      this.$bvModal.show('user-modal');
      // Additional logic to set the content of the modal based on 'login'
    },
    showViewModal(view) {
      this.selectedView = view;
      this.fetchViewActivity(this.selectedView.viewname)
      this.$bvModal.show('view-modal');
      // Additional logic to set the content of the modal based on 'login'
    },
    resetParams() {
      this.selectedLogin = null;
      this.selectedView = null;
      this.userActivity = null;
      this.viewActivity = null;
    },
  }
}
</script>

<style scoped>

main {
  display: flex;
  justify-content: space-between;
  text-align: start;
  height: 85vh;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
}

.pretty-list {
  justify-content: space-around;
  padding: 1em;
  border: 1px #e2e2ee solid;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.1);

}

.pretty-list-2 {
  justify-content: space-around;
  padding: 1em;
  border: 1px #e2e2ee solid;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.1);
}

.login-date {
  margin-left: .75em;
  text-align: end;
}

.list-item {
  position: relative;
}

.list-move {
  transition: transform 1s ease;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.custom-modal-size {
  max-width: 90%; /* or any other size */
}

.highlighted {
  background-color: #ffefdb; /* or any highlight color */
  /* other styling as needed */
}

.high-views-row {
  background-color: #ffefdb; /* or any highlight color */
  /* other styling as needed */
}

.animated-number {
  transition: opacity 0.2s ease-in-out;
  opacity: 0.7;
}
</style>