<template>
    <nav>
      <div class="logo-container"> 
        <img src="../assets/fortinet-logo.svg" alt="Fortinet home">
      </div>
    </nav>
</template>

<style scoped>
.logo-container {
  width: 120px;
  margin: 1.5em 0em;
}
</style>