<template>
  <div id="app">
    <NavigationBar/>
    <DataView/>
  </div>
</template>

<script>

import DataView from "./components/DataView.vue";
import NavigationBar from "./components/NavigationBar.vue";

export default {
  name: 'App',
  components: {
    DataView,
    NavigationBar,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 2em;
}
</style>
